* {
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

:root {
    --navbar-height: 60px;
}
.mcy{
    height: 800px;
    width: 100%;
    background-color: rgb(132, 170, 202);
    text-align: center;
    font-family: sans-serif;
}
#H{
    font-size: 3.5rem;
}
.mcy p {
    font-size: 2.0rem;
    margin-left: 50px;
    margin-right: 50px;
}
.btn1 {
    padding: 0px 15px;
    border: 2px solid white;
    background-color: rgb(73, 213, 63);
    color: white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}
#navbar {
    display: flex;
    align-items: center;
    position:sticky;
    background-color: rgb(88, 80, 80);
    top: 0px;
    opacity: 0.5;
}
footer {
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
}